{%extends 'base.html'%}
{% block title %}
    Home Page
{% endblock %}

{% block content %}
    
    <section class="home-intro">
        <div class="container">
            <div class="lanR">
                <h1>Welcome,To PickupLAPTOP </h1>
                <a href="#model" class="btn-model">Try Model</a>
            </div>
            <div class="landImg"><img src="{{ url_for('static', filename='images/intro-home.png') }}" alt="Younes"></div>
        </div>
    </section>
    <div class="container my-4 p-5" style="background-color: white; border-radius: 20px;" id="model">
        <form method="POST" class="form-register" >
            {{ form.hidden_tag() }}
            <h1 class="h3 mb-3 fw-bold text-primary">
                Please Add your Caracteristics
            </h1>
            <br>
            {{ form.selectProcessor.label(class="pb-2") }}
            {{ form.selectProcessor(class="form-select form-select-lg mb-3" ) }}

            {{ form.selectRam.label(class="pb-2") }}
            {{ form.selectRam(class="form-select form-select-lg mb-3" ) }}

            {{ form.selectStorage.label(class="pb-2") }}
            {{ form.selectStorage(class="form-select form-select-lg mb-3" ) }}

            {{ form.selectBattryLife.label(class="pb-2") }}
            {{ form.selectBattryLife(class="form-select form-select-lg mb-3" ) }}

            {{ form.selectBudget.label(class="pb-2") }}
            {{ form.selectBudget(class="form-select form-select-lg mb-3" ) }}
            <br>

            {{ form.submit(class="btn btn-primary form-control") }}

        </form>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} my-3">
                    <button type="button" class=" mb-1 close bg-danger-subtle" style="border: none;" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
{% endblock %}